[package]
name = "xtask"
version = "0.1.0"
edition = "2024"
publish = false

[dependencies]
anyhow = "1"
clap = { version = "4", features = ["derive"] }
notify = "6"
notify-debouncer-mini = "0.4"
walkdir = "2"
glob = "0.3"
